<nav class="nav">
    <ul class="nav-list">
        <li><a href="index.html" class="nav-link {{#if isHome}}active{{/if}}">Home</a></li>
        <li><a href="photography.html" class="nav-link {{#if isPhotography}}active{{/if}}">Photography</a></li>
        <li><a href="lithophanes.html" class="nav-link {{#if isLithophanes}}active{{/if}}">Lithophanes</a></li>
        <li><a href="radio.html" class="nav-link {{#if isRadio}}active{{/if}}">Amateur Radio</a></li>
    </ul>
</nav>